# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Binaries
ffmpeg.exe
*.exe

# Sessions & Database
sessions/
*.db
*.sqlite3
server_god_clan.db
